.page {
  list-style: none;
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.page .page-item {
  display: inline-block;
  background-color: #FFFFFF;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  margin: 0 2px;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.active {
  opacity: 1!important;
}
